body {
    background-color: rgba(63, 81, 181);
}

/****** HEADER ******/
.mi-header {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mi-header div#logo {
    width: 200px;
}

.mi-header #logo img {
    width: 100%;
}

#logo:hover {
    transition: 0.3s;
    transform: scale(1.1);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu div {
    margin: 0 20px;
}

.a-menu {
    font-size: 25px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: aliceblue;
}

.a-menu:hover {
    transition: 0.5s;
    color: darkred;
    text-decoration: line-through;
    font-size: 30px;
    font-weight: bold;
}

/****** SECCION 1 ******/
.seccion1 {
    background-color: darkred;
    padding: 20px 0 30px 0;
}

.articulo1 h1 {
    text-align: center;
    background-color: aliceblue;
}

h1:hover {
    transition: 0.5s;
    transform: scale(1.3);
}

.articulo1 {
    background-color: beige;
}

.alertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 30px 0;
}

.alertas .mi-alerta {
    width: 350px;
    height: 100px;
    text-align: center;
}

#img-seccion1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}

#img-seccion1 img {
    width: 20%;
    border-radius: 10px;
    box-shadow: 9px 9px 18px,
        -9px -9px 18px;
    padding: 0;
}

img:hover {
    transition: 0.5s;
    transform: scale(1.1);
}

/****** SECCION 3 ******/
.articulo3 {
    background-color: darkred;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.formu-text {
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
}

.ubicacion iframe {
    width: 100%;
}

/****** FOOTER ******/
.mi-footer {
    background-color: steelblue;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

div.footer-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-img img {
    width: 150px;
}

.datos-footer p {
    margin-bottom: 0;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-left: 20px;
}

/********* MEDIAS QUERIES *********/

/*Dispositivo: celular*/
@media(max-width: 426px) {
    #img-seccion1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #img-seccion1 img {
        width: 90%;
        margin: 10px;
    }
}

/*Dispositivo: tablet*/
@media (min-width: 768px) {
    #img-seccion1 {
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
    }

    #img-seccion1 img {
        width: 35%;
        padding: 10px;
    }
}

/*Dispositivo: laptop*/
@media(min-width: 1024px) {
    #img-seccion1 {
        justify-content: flex-start;
    }

    #img-seccion1 img {
        width: 25%;
        padding: 0%;
    }
}